@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply px-1 font-semibold no-underline transition-all
    visited:text-violet-700
    hover:underline 
    focus:underline focus:outline-1;
  }

  h1 {
    @apply text-gray-800 text-2xl font-bold;
  }

  h2 {
    @apply text-gray-800 text-xl font-bold;
  }

  h3 {
    @apply text-gray-800 text-lg font-semibold;
  }

  p {
    @apply mt-4 text-black text-base font-normal    
    first:mt-0;
  }

  button {
    @apply mb-5 py-2 px-4 bg-indigo-600 rounded-sm text-white
    shadow
    hover:bg-indigo-700 hover:shadow-md active:bg-indigo-800 
    focus:outline-none focus:ring focus:ring-blue-400;
  }

  .card {
    @apply w-full p-5 bg-white border-2 rounded-sm;
  }

  .card--title {
    @apply font-semibold;
  }

  .card--content {
    @apply p-2 bg-gray-100 border-l-4 font-semibold text-gray-700 text-right;
  }

  .caption {
    @apply max-w-none mt-4 text-gray-700 text-sm font-normal italic;
  }

  .container-flex {
    @apply flex pt-5 pr-20 pb-10 pl-10;
  }

  .row--container {
    @apply w-full flex items-center justify-center;
  }
}

@layer components {
  /* sidebar */
  .sidebar {
    @apply w-1/5 h-full flex flex-col pl-20 pr-5 bg-white border-r-2 
    overflow-hidden;
  }

  .sidebar--header {
    @apply h-20 flex items-center bg-white;
  }

  .sidebar--body {
    @apply flex-grow overflow-hidden;
  }

  /* .sidebar--list {
    @apply my-10;
  } */

  .sidebar--list-item {
    @apply w-full h-10 flex items-center pl-2 mb-2 text-gray-600 text-base font-semibold rounded-sm 
    transition-all
    hover:bg-gray-100 hover:text-black hover:cursor-pointer
    focus:bg-gray-100 focus:text-black active:bg-gray-200;
  }

  /* links */
  .navlink--active {
    @apply w-full h-10 pl-4 mb-2 flex items-center bg-indigo-700 text-white text-base font-semibold rounded-sm 
    transition-all;
  }

  .navlink {
    @apply w-full h-10 pl-4 mb-2 flex items-center bg-transparent text-gray-600 text-base font-semibold rounded-sm 
    transition-all
    hover:bg-gray-100 hover:text-black hover:cursor-pointer
    focus:bg-gray-100 focus:text-black active:bg-gray-200;
  }

  /* main */
  .main {
    @apply w-4/5 h-full flex flex-col
    bg-gray-50 overflow-hidden;
  }

  .main--header {
    @apply h-20 flex items-center 
    /* fixed top-0 right-0  */
    pl-5 bg-white border-b-2;
  }

  .main--body {
    @apply h-full flex flex-col overflow-y-auto;
  }

  .intro {
    @apply py-5 pl-10 mr-20;
  }

  .graph--container {
    @apply p-5 bg-white border-2 rounded-sm;
  }

  .graph--title {
    @apply text-center;
  }

  /* footer */
  .footer {
    @apply w-full h-14 flex items-center justify-center p-5 bg-gray-800 font-thin text-sm text-white;
  }

  /* screen: dashboard */
  .dashboard {
    @apply w-full h-screen flex items-center justify-center overflow-hidden;
  }
}
